doctype html
html
  head
    title Dance 2 Dance
    block scripts
    block style
  body
  nav#navbar
      ul
        li #[a(href="/home") home]
        li #[a(href="/about") about]
        li #[a(href="/services") services]
        li #[a(href="/contact") contact]
  block content
  footer#footerarea 
       | copyright©2020 dance2dance.ac.in | All rights reserved